
$font-color-secondary: #8e8e8e;
$border-color-grey: #dbdbdb;
$border-color-grey-secondary: #efefef;
$link-color: #0095f6;
$link-color-secondary: #b3dffc;
// $font: "Montserrat", sans-serif; // instead of Proxima Nova

